body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 72px;
    padding: 0 144px 96px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
}

.top-bar h1 {
    font-size: 24px;
}

.top-bar ul {
    display: flex;
    gap: 24px;
}

.top-bar li {
    list-style: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    display: flex;
    gap: 48px;
}

.hero-text {
    flex: 1;
}

.hero-text h2 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0px;
}

.hero-text p {
    font-size: 18px;
    font-weight: thin;
    color: #E5E7EB;
    margin: 0px;
}

.hero-image {
    background-color: #6e788c;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    border-style: none;
    padding: 6px 36px;
    margin-top: 12px;
    border-radius: 6px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    margin: 48px;
    padding-bottom: 48px;
}

.info h2 {
    font-size: 36px;
    margin: 0px;
}

.blocks {
    display: flex;
    gap: 48px;
}

.empty-space {
    border: 3px solid #3882F6;
    border-radius: 16px;
    width: 156px;
    height: 156px;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.items p {
    width: 156px;
    text-align: center;
    margin: 0px;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 96px 240px;
}

.quote em {
    font-size: 36px;
    font-style: light italic;
    color: #1F2937;
}

.quote b {
    font-size: 24px;
    flex-flow: row;
    align-self: flex-end;
}

.action {
    background-color: #3882F6;
}

.action .text {
    color: #F9FAF8;
}